:root {
  --color-font-title: #101828;
  --color-font-text: #475467;
  --color-accent: #e44848;
  --color-reviews-stars: #ffc531;
  --color-main-background: ##f7f7f7;
  --color-secondary-background: #f2f4f7;
}
