.formContainer {
  width: 448px;
  height: 532px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
}

.formTitle {
  margin-bottom: 8px;
}

.formText {
  margin-bottom: 24px;
}

.formElementWrapper {
}

.formElementInput {
  margin-bottom: 16px;
  border-radius: 10px;
  padding-left: 18px;
  width: 400px;
  height: 56px;
  background-color: var(--color-secondary-background);
}

.formElementText {
  border-radius: 10px;
  padding-left: 18px;
  padding-top: 18px;
  width: 400px;
  height: 114px;
  background-color: var(--color-secondary-background);
  margin-bottom: 24px;
  resize: none;
}

.formButton {
  border-radius: 200px;
  padding: 16px 60px;
  background-color: var(--color-accent);
}
