.container {
  width: 360px;
  height: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--color-main-background);
}

.label {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.input,
.checkbox,
.select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.button {
  padding: 16px 40px;
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  margin-top: 20px;
}
