.headerСontainer {
  background-color: var(--color-accent);
  padding: 24px 0px;
  margin-bottom: 24px;
}

.headerWrapper {
  max-width: 1440px;
  padding: 0px 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  gap: 40px;
  color: #fff;
  align-items: center;
}

.logoWrapper {
  align-items: center;
  justify-content: center;
}
.logo {
  stroke: #fff;
  fill: #fff;
}

.adressList {
  display: flex;
  gap: 40px;
}

/* className={`${css.headerСontainer} firstTitle` */
